@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Formula 1 World!</h1>

<p>Explore the heart-pounding world of Formula 1, where speed meets precision and technology pushes the limits. </p>
<p>Immerse yourself in the adrenaline-fueled races, iconic teams, and legendary drivers that define the pinnacle of motorsport. </p>
<p>Whether you're a devoted fan or a newcomer, get ready for an exciting journey through the fast lanes of Formula 1!</p>

<div style="text-align: center;">
    <img src="https://media.contentapi.ea.com/content/dam/ea/f1/f1-23/common/articles/patch-note-v109/pj-f123-bel-w01-rus-unmarked.jpg.adapt.crop191x100.628p.jpg" alt="Formula 1 Image" style="height: 500px; width: auto; margin-top: 20px;">
</div>


